Cython
accelerate==0.24.1
argparse
asteroid
audiomentations
black==24.1.1
colorama
diffsptk==1.0.1
diffusers
easydict
einops
encodec
fairseq
ffmpeg-python==0.2.0
frechet_audio_distance
g2p_en
humanfriendly
hydra-core
inflect
json5
librosa==0.9.1
loguru
matplotlib
nnAudio
omegaconf
openai-whisper
pandas
pedalboard
phonemizer==3.2.1
praat-parselmouth
ptwt
pymcd
pypinyin==0.48.0
pyworld
resemblyzer
ruamel.yaml
setuptools
tabulate
tensorboard
tensorboardX
tgt
torch==2.0.1
torchaudio==2.0.2
torchmetrics
torchvision==0.15.2
tqdm
transformers
typeguard
unidecode
vector-quantize-pytorch==1.12.5
